<h2><%= @user.email[0..(@user.email.index('@')-1)] %></h2>
<div class="container">
  <%= form_for [@user, @roar] do |f|%>
      <%= f.text_area :roar, :rows => 3, :placeholder => "yummy yummy chicken" %>
      <%= f.submit "Roar", :class => "button tiny" %>
  <% end %>
  <ul>
    <% @user.roars.each do |roar| %>
      <li class="red"><%= roar.roar %></li>
    <% end %>
  </ul>
</div>
