<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Tweetr</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if user_signed_in? %>
        <li><a href="/users/sign_out" data-method="delete">Logout</a></li>
      <% else %>
        <li><a href="/users/sign_in">Login</a></li>
        <li><a href="/users/sign_up">Sign Up</a></li>
      <% end %>
    </ul>
    <ul class="left white">
      <% if !user_signed_in? %>
        <li>Welcome</li>
      <% else %>
        <a href="/users/<%= current_user.id %>" class="white"><li>Welcome <%= current_user.email[0..(current_user.email.index('@')-1)] %></li></a>
        <%if current_user.avatar == nil %>

          <%= link_to "Add Avatar", "/users/#{current_user.id}/avatars/new",  :id => "new_link", :class => "addAvButton button tiny", remote: true %>
        <% else %>
          <%= image_tag current_user.avatar.avatar.url(:thumb), width: "50px" , :class => "advPic" %>
        <% end %>
      <% end %>
    </ul>

</nav>

    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
